

DATABASE_URL="mongodb+srv://monirbdcalling:cvt3ajR5qvn1Yz0T@cluster0.v3gtomp.mongodb.net/development"
AUTH_SECRET="sdfsd"

EDGE_STORE_ACCESS_KEY=aIyJva7NOoTBV3amUDlxCEJFXvB4siiq
EDGE_STORE_SECRET_KEY=WEPyfzqLkGuSvecCZ4uDVm3IkmeCr8k07WCxLU4mAWVraXJH